<%= form_for(@book) do |f| %>
    <div class="col-md-6" align="center">
        <% if @book.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
                <% @book.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="field">
            <%= f.label :Название %><br>
            <%= f.text_field :title, size: "50" %>
        </div>
        <div class="field">
            <%= f.label :Тэги %><br>
            <%= f.text_field :title, size: "50" %>
        </div>
        <div class="field">
            <%= f.label :Категория %><br>
            <%= f.collection_select :category_id, Category.all, :id, :title%>
        </div>
        <br>
        <div class="actions">
            <%= f.submit "Применить изменения"%>
        </div>
    </div>
    <div class="col-md-6" align="center">
        <div class="field">
            <%= f.label :Описание %><br>
            <%= f.text_area :description, size: "50x10" %>
        </div>
    </div>
<% end %>