<%= form_for(@book) do |f| %>
    <div class="col-md-3">
        <% if @book.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
                <% @book.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="field">
            <%= f.label :title, t("title") %><br>
            <%= f.text_field :title, size: "40" %>
        </div>


        <div class="">
          <%= f.label :tag_list, t("tags") %>
          <div class="controls field select2-container select2-container-multi" >
            <%= f.text_field :tag_list, size: "40", data: {autocomplete_source: Book.tag_counts.map(&:name)} %>
          </div>
        </div>

        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="field">
            <%= f.label :category_id, t("category") %>
            <%= f.collection_select :category_id, Category.all, :id, :title%>
        </div>
        <br>
        <div class="actions">
            <%= f.submit t("apply"), :class => 'btn'%>
        </div>
    </div>
    <div class="col-md-9" align="center">
        <div class="field">
            <%= f.label :Описание %>
            <%= f.text_area :description, :class => 'text_field', size: "40x10" %>
        </div>
    </div>
<% end %>
<div class="btn-back">
  <%= link_to t('back'), :back %>
</div>