<% if user_signed_in? %>
    <h3 id="add_book" class="shelf" align="center">
      <%= link_to 'Добавить книгу', new_book_path %>
    </h3>
<% end %>
<div>
    <% @books.each do |book| %>
        <div class="shelf booktext text-warning">
            <h1>
                <%= link_to book.title, book %>
            </h1>
            <p>
                <%= markdown(book.description)  %>
            </p>
            <div>
                <p>метки: -
                    <%book.tag_list.each do |tag|  %>
                        <b><a style="color: orange; font-size:10pt;" href='/tags/<%=tag%>'><%=tag%></a></b> -
                    <%end%>
                </p>
            </div>
            <div>
                <%= link_to 'Читать', book %>
            </div>
        </div>
    <% end %>
    <div align="center">
      <ul class="pagination pagination-sm">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
</div>