<div id="shelf" align="center">
    <%= link_to 'Добавить книгу', new_book_path %>
</div>
<% @books.each do |book| %>
    <div id="shelf" class="book">
        <h1>
          <%= book.title %>
        </h1>
        <p>
          <%= book.description  %>
        </p>
        <div>
          <%= link_to 'Читать', book %> |
          <%= link_to 'Изменить', edit_book_path(book) %> |
          <%= link_to 'Удалить', book, method: :delete, data: { confirm: 'Вы уверены?' } %>
        </div>
    </div>
<% end %>
<div align="center">
  <ul class="pagination pagination-sm">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>