<div>
    <% @books.each do |book| %>
        <div id="book" class="shelf booktext text-warning select_book" style="position: relative" element="<%= book.id %>">
            <h1>
                <%= link_to book.title, book %>
            </h1>
            <div style="margin: 0 10px">
                <p>
                    <%= markdown(book.description) %>
                </p>
                <p>
                    <%=t('tags')%>:
                    <%book.tag_list.each do |tag|  %>
                        <b><a style="color: orange; font-size:10pt;" href='/tags/<%=tag%>'><%=tag%></a></b>
                    <%end%>
                </p>
                <p>
                    <%=t('author')%>:
                    <a style="color: orange; font-size:10pt;" href='/users/<%=book.user_id%>'><%= User.where(:id => book.user_id).first.username %></a>
                </p>
          <%= render :partial => 'like', :locals => {:book => book} %>
          <%= render :partial => 'close', :locals => {:book => book} %>
            </div>
        </div>
    <% end %>
  <div align="center">
    <ul class="pagination pagination-sm">

      <% if params[:page].to_i == 1 %>
        <li class="disabled"><a>&laquo;</a></li>
      <% else %>
        <li><a href='<%= page_path(params[:page].to_i - 1)%>'>&laquo;</a></li>
      <% end %>

      <% count_books = (Book.all.size/ get_count_book_in_page.to_f).ceil%>
      <% count_books.times {|i|%>

        <% if (i + 1) == params[:page].to_i || params[:page] == nil && i == 0 %>
            <li class="active">
        <% else %>
            <li>
        <% end %>
          <%= link_to "#{i + 1}", page_path(i + 1) %>
        </li>
      <% }%>
      <% if params[:page].to_i == count_books %>
          <li class="disabled"><a>&raquo;</a></li>
      <% else %>
          <li><a href='<%= page_path(params[:page].to_i + 1) %>'>&raquo;</a></li>
      <% end %>
    </ul>
  </div>
</div>