<div id="shelf" class="book">
    <p id="notice"><%= notice %></p>

  <div id="shelf" class="book" align="center">
    <h1 >
      <%= @book.title %>
    </h1>
    <h3>
      Глава
      <%= @chapter.number %>
    </h3>
  </div>

    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>
</div>