<div class="book  text-warning" >
  <p id="notice">
    <%= notice %>
  </p>
  <div>
    <div class="shelf book"  align="center">
        <h1 align="center">
          <%= @book.title %>
        </h1>
        <p>
          <%= markdown(@book.description)  %>
        </p>

      <div>
        <p><%= t('tags')%>:
          <%@book.tag_list.each do |tag|  %>
              <b><a style="color: orange; font-size:10pt;" href='/tags/<%=tag%>'><%=tag%></a></b>
          <%end%>
        </p>
        <p><%= t('author')%>:
          <%= User.where(:id => @book.user_id).first.email %>
        </p>
        <p>
          <%= t('rating')%>:
          <%= @book.positives.size %>
        </p>
      </div>
          <div id="book">
            <% if user_signed_in? %>
                <%= link_to t('add_chapter'), new_book_chapter_path(book_id: @book.id) %> |
                <%= link_to t('edit'), edit_book_path(@book) %> |
                <%= link_to t('remove_book'), @book, method: :delete, data: { confirm: 'Вы уверены?' } %> |

                <a href class="glyphicons heart" ></a>
                <img href="glyphicons_012_heart.png"/>
                <%= link_to "#{image_tag('logo.png')}", like_path(@book), method: :post, :class => 'btn' %>
                <img style="height:22px" href="<%=image_tag('glyphicons_012_heart.png')%>"  />
            <% end %>
            <%= link_to t('back'), books_path %>
          </div>
    </div>
    <div>
      <% @book.chapters.order(:number).each do |chapter| %>
          <div id="chapters" class="shelf ">
            <h3>Глава <%= chapter.number %>: <%= chapter.title %></h3>
            <%= link_to t('open chapter'), book_chapter_path(@book, chapter) %>
            <% if user_signed_in? %>
                | <%= link_to t('edit'), edit_book_chapter_path(@book, chapter) %> |
                <%= link_to t('remove'), [@book, chapter], method: :delete, data: { confirm: 'Вы уверены?' }%>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>