<div class="book  text-warning" >
  <p id="notice">
    <%= notice %>
  </p>
  <div>
    <div class="shelf book "  align="center">
        <h1 align="center">
          <%= @book.title %>
        </h1>
        <p>
          <%= markdown(@book.description)  %>
        </p>
          <div id="book">
            <%= link_to 'Добавить главу', new_book_chapter_path(book_id: @book.id) %> |
            <%= link_to 'Редактировать', edit_book_path(@book) %> |
            <%= link_to 'Удалить книгу', @book, method: :delete, data: { confirm: 'Вы уверены?' }, remote:true %> |
            <%= link_to 'Назад', books_path %>
          </div>
          <div>
            <%= @book.tag_list %>
          </div>
    </div>
    <div>
      <% @book.chapters.order(:number).each do |chapter| %>
          <div id="chapters" class="shelf ">
            <h3>Глава <%= chapter.number %>: <%= chapter.title %></h3>
            <%= link_to 'Открыть главу', book_chapter_path(@book, chapter) %> |
            <%= link_to 'Редактировать', edit_book_chapter_path(@book, chapter) %> |
            <%= link_to 'Удалить', [@book, chapter], method: :delete, data: { confirm: 'Вы уверены?' }%>
          </div>
      <% end %>
    </div>
  </div>
</div>