<%= form_for @chapter do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :Название_главы %><br>
      <%= f.text_field :title, size: "50" %>
    </div>
    <div class="field">
      <%= f.label :Описание %><br>
      <%= f.text_area :content, size: "50x10" %>
    </div>

    <div class="field">
      <%= f.label :Номер_главы %>
      <%= f.number_field :number, :value => get_last_number%>
    </div>

        <div class="actions">
        <%= f.submit %>
        </div>

<% end %>