<%= form_for(@chapter) do |f| %>
  <div class="col-md-6" align="center">
  <% if @chapter.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul>
          <% @chapter.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <% if params[:book_id] != nil %>
     <%  book_id = params[:book_id] %>
  <% else book_id = @chapter.book_id  %>
  <% end %>

  <div class="field">
    <%= f.label :Название %><br>
    <%= f.text_field :title, size: "50" %>
  </div>
  <div class="field">
    <%= f.label :Номер_главы %><br>
    <%= f.number_field :number, :value => get_last_number%>
  </div>
    <%= f.hidden_field :book_id, :value => book_id %>
  <br>
  <div class="actions">
    <%= f.submit "Применить изменения"%>
  </div>
</div>
<div class="col-md-6" align="center">
  <div class="field">
    <%= f.label :Содержание %><br>
    <%= f.text_area :content, size: "50x10" %>
  </div>
</div>
<% end %>