<div class="book shelf">
  <% if user_signed_in? %>
    <%= button_to t('chapter.edit'), edit_book_chapter_path(@book, @chapter), :method => :get, :class => 'btn' %>
  <% end %>
  <%= button_to t('book.content'), @book, :method => :get, :class => 'btn' %>
  <button class="btn"><%=t('chapter.previous')%></button>
  <button class="btn"><%=t('chapter.next')%></button>
  <button class="btn">FONT_SIZE +</button>
  <button class="btn">FONT_SIZE -</button>
  <label><%=t('chapter.width')%></label>
  <select name="width_reader">
    <option>50%</option>
    <option>70%</option>
    <option>100%</option>
  </select>

  <h1><%= t('chapter.chapter') + ' ' + @chapter.number.to_s + ': ' + @chapter.title %></h1>

  <%= markdown(@chapter.content)%>
</div>