<div class="book shelf">
  <p id="notice"><%= notice %></p>

  <% if user_signed_in? %>
    <%= link_to 'Редактировать', edit_book_chapter_path(@book, @chapter) %> |
  <% end %>
  <%= link_to 'К оглавлению', @book %>


  <h1>Глава <%= @chapter.number %>: <%= @chapter.title %> </h1>

  <%= markdown(@chapter.content)%>
</div>